@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-plus-jakarta: var(--font-plus-jakarta);
  --font-playfair: var(--font-playfair);
  --font-oswald: var(--font-oswald);
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-plus-jakarta), sans-serif;

  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-surface: var(--surface);
  --color-surface-highlight: var(--surface-highlight);
  --color-text-main: var(--text-main);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);
}

:root {
  --background: #020202;
  --foreground: #fafafa;
  --surface: #0a0a0a;
  --surface-highlight: #121212;
  --text-main: #fafafa;
  --text-secondary: #a1a1aa;
  --text-muted: #52525b;
  --border: rgba(255, 255, 255, 0.1);
  --primary: #3b82f6;
  --primary-hover: #2563eb;
  --radius: 0rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

@layer base {
  * {
    border-color: var(--border);
  }
}
